// You can remove this code, it is only for example purposes 
.wasteland
.glass
.you-made-it-container
  .you-made-it-box 
    .concrats Conratulations, You've Made it!! 🎉
    .title Simple webpack boilerplate
    .description A tool to improve and speed up the process of creating rapid prototypes and/or awesome wab apps. Automated build processes with webpack, a local development server, production minification and optimizations, wizard setup.
    a(href="https://github.com/jomendez/simple-webpack-boilerplate")
      .source-code 
        .btn-text 🛠 Source code 